.jai-style {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #141414 !important;
  line-height: 1.3em;
  font-size: 15px !important; }
  .jai-style * {
    -webkit-box-sizing: content-box;
    box-sizing: content-box; }
  .jai-style article,
  .jai-style aside,
  .jai-style details,
  .jai-style figcaption,
  .jai-style figure,
  .jai-style footer,
  .jai-style header,
  .jai-style hgroup,
  .jai-style main,
  .jai-style menu,
  .jai-style nav,
  .jai-style section,
  .jai-style summary {
    display: block; }
  .jai-style audio,
  .jai-style canvas,
  .jai-style progress,
  .jai-style video {
    display: inline-block;
    vertical-align: baseline; }
  .jai-style audio:not([controls]) {
    display: none;
    height: 0; }
  .jai-style [hidden],
  .jai-style template {
    display: none; }
  .jai-style a {
    background-color: transparent; }
  .jai-style a:active, .jai-style a:hover {
    outline: 0; }
  .jai-style abbr[title] {
    border-bottom: 1px dotted; }
  .jai-style b,
  .jai-style strong {
    font-weight: bold; }
  .jai-style dfn {
    font-style: italic; }
  .jai-style h1 {
    font-size: 2em;
    margin: 0.67em 0; }
  .jai-style mark {
    background: #ff0;
    color: #000; }
  .jai-style small {
    font-size: 80%; }
  .jai-style sub,
  .jai-style sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline; }
  .jai-style sup {
    top: -0.5em; }
  .jai-style sub {
    bottom: -0.25em; }
  .jai-style img {
    width: auto !important;
    max-width: none !important;
    border: 0; }
  .jai-style svg:not(:root) {
    overflow: hidden; }
  .jai-style figure {
    margin: 1em 40px; }
  .jai-style hr {
    box-sizing: content-box;
    height: 0; }
  .jai-style pre {
    overflow: auto; }
  .jai-style code,
  .jai-style kbd,
  .jai-style pre,
  .jai-style samp {
    font-family: monospace, monospace;
    font-size: 1em; }
  .jai-style button,
  .jai-style input,
  .jai-style optgroup,
  .jai-style select,
  .jai-style textarea {
    color: inherit;
    font: inherit;
    margin: 0; }
  .jai-style button {
    overflow: visible; }
  .jai-style button,
  .jai-style select {
    text-transform: none; }
  .jai-style button,
  .jai-style html input[type="button"],
  .jai-style input[type="reset"],
  .jai-style input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer; }
  .jai-style button[disabled],
  .jai-style html input[disabled] {
    cursor: default; }
  .jai-style button::-moz-focus-inner,
  .jai-style input::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .jai-style input {
    line-height: normal; }
  .jai-style input[type="checkbox"],
  .jai-style input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */ }
  .jai-style input[type="number"]::-webkit-inner-spin-button,
  .jai-style input[type="number"]::-webkit-outer-spin-button {
    height: auto; }
  .jai-style input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    box-sizing: content-box;
    /* 2 */ }
  .jai-style input[type="search"]::-webkit-search-cancel-button,
  .jai-style input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
  .jai-style fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em; }
  .jai-style legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */ }
  .jai-style textarea {
    overflow: auto; }
  .jai-style optgroup {
    font-weight: bold; }
  .jai-style table {
    border-collapse: collapse;
    border-spacing: 0; }
  .jai-style td,
  .jai-style th {
    padding: 0; }

@-webkit-keyframes fade-in-popup {
  0% {
    -webkit-transform: translate(0, 100%);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes fade-in-popup {
  0% {
    -webkit-transform: translate(0, 100%);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@-ms-keyframes fade-in-popup {
  .jai-style 0% {
    -webkit-transform: translate(0, 100%);
    opacity: 0; }
  .jai-style 90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@-o-keyframes fade-in-popup {
  0% {
    -webkit-transform: translate(0, 100%);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@keyframes fade-in-popup {
  0% {
    -webkit-transform: translate(0, 100%);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fade-in-up {
  0% {
    -webkit-transform: translate(0, 10px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@-moz-keyframes fade-in-up {
  0% {
    -webkit-transform: translate(0, 10px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@-ms-keyframes fade-in-up {
  .jai-style 0% {
    -webkit-transform: translate(0, 10px);
    opacity: 0; }
  .jai-style 90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@-o-keyframes fade-in-up {
  0% {
    -webkit-transform: translate(0, 10px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@keyframes fade-in-up {
  0% {
    -webkit-transform: translate(0, 10px);
    opacity: 0; }
  90% {
    -webkit-transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }

@-ms-keyframes fade-in {
  .jai-style 0% {
    opacity: 0; }
  .jai-style 90% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  90% {
    opacity: 1; } }

.jai-style .fade-in {
  -webkit-animation: fade-in 0.8s 1;
  -moz-animation: fade-in 0.8s 1;
  -ms-animation: fade-in 0.8s 1;
  -o-animation: fade-in 0.8s 1;
  animation: fade-in 0.8s 1; }

.jai-style .fade-in-up {
  -webkit-animation: fade-in-up 0.7s 1;
  -moz-animation: fade-in-up 0.7s 1;
  -ms-animation: fade-in-up 0.7s 1;
  -o-animation: fade-in-up 0.7s 1;
  animation: fade-in-up 0.7s 1; }

.jai-style .fade-in-popup {
  -webkit-animation: fade-in-popup 1s 1;
  -moz-animation: fade-in-popup 1s 1;
  -ms-animation: fade-in-popup 1s 1;
  -o-animation: fade-in-popup 1s 1;
  animation: fade-in-popup 1s 1; }

.width-100 {
  min-width: 100%;
  max-width: 100%;
  width: 100%; }

.height-100 {
  min-height: 100%;
  max-height: 100%;
  height: 100%; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-flex-direction: row; }

.col {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-flex-direction: column; }

.flex-1 {
  flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1; }

.flex-center {
  justify-content: center;
  -ms-justify-content: center;
  -webkit-justify-content: center;
  align-items: center;
  -ms-align-items: center;
  -webkit-align-items: center; }

.border-right {
  border-right: 1px solid #f1f1f1; }

.border-left {
  border-left: 1px solid #f1f1f1; }

.border-top {
  border-top: 1px solid #f1f1f1; }

.border-bottom {
  border-bottom: 1px solid #f1f1f1; }

.title {
  font-size: 16px;
  font-weight: bold; }

.subtitle {
  font-size: 13px; }

.content {
  padding: 12px 20px; }

.text-center {
  text-align: center; }

.scrollable {
  overflow: auto;
  -ms-overflow-style: none; }
  .scrollable::-webkit-scrollbar {
    display: none; }

.img-rounded {
  border-radius: 100%; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden; }

.disconnected {
  background: red;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 12px; }
  .disconnected .icon {
    height: 15px;
    position: relative;
    top: 2px; }

.error .fas {
  color: #e56b65;
  font-size: 55px;
  margin-bottom: 20px; }

.error .title {
  font-size: 20px;
  margin-bottom: 10px;
  color: #505050; }

.error .subtitle {
  font-size: 18px;
  color: #787878; }

.chat-welcome .chat-agent .title {
  font-size: 25px;
  font-weight: auto;
  margin-top: 30px; }

.chat-welcome .chat-agent .subtitle {
  font-size: 16px;
  margin-top: 10px;
  max-width: 80%; }

.chat-welcome .avatar {
  width: 150px;
  height: 150px; }

.chat-welcome .input {
  font-size: 15px;
  margin-bottom: 20px; }

.chat-welcome .chat-welcome-init .title {
  font-size: 18px;
  font-weight: normal;
  padding: 20px; }

.chat-welcome.chat-welcome-widget .avatar {
  width: 40px;
  height: 40px;
  margin-right: 20px; }

.chat-welcome.chat-welcome-widget .title {
  margin: 0;
  font-size: 15px;
  padding: 0; }

.chat-welcome.chat-welcome-widget .subtitle {
  font-size: 13px;
  color: #646464; }

.chat-welcome.chat-welcome-widget .welcome-start-widget {
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  background: #0084ff;
  color: white;
  box-sizing: border-box; }

.chat-welcome.chat-welcome-widget .chat-welcome-init .title {
  font-size: 13px;
  padding: 15px; }

.chat-header img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  margin-right: 20px; }

.chat-header .title {
  margin: 0;
  font-size: 15px;
  padding: 0; }

.chat-header .subtitle {
  color: #646464; }

.btns-slide {
  display: flex;
  flex-flow: row;
  overflow-x: auto;
  max-width: 100%; }
  .btns-slide::-webkit-scrollbar {
    display: none; }
  .btns-slide .btn {
    margin-right: 10px; }

.btns-centred {
  align-items: center;
  justify-content: center; }

.btn {
  white-space: nowrap;
  cursor: pointer;
  background: #0084ff;
  padding: 15px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 16px; }
  .btn-fullwith {
    width: 100%;
    box-sizing: border-box; }
  .btn-small {
    padding: 8px 10px;
    font-size: 12px;
    height: 14px;
    line-height: 14px; }
  .btn-rounded {
    border-radius: 20px; }
  .btn-outline {
    background: none;
    border: 1px solid #0084ff;
    color: #0084ff;
    transition: 0.2s; }
    .btn-outline:hover {
      color: white;
      background: #0084ff; }

.link {
  color: #0084ff;
  cursor: pointer;
  transition: 0.8s; }

.close {
  position: absolute;
  right: 15px;
  top: 10px; }
  .close .close-icon {
    border-radius: 100%;
    background: #f0f0f0;
    color: #323232;
    padding: 3px;
    width: 17px;
    height: auto;
    cursor: pointer; }

.crd {
  background: white;
  box-sizing: border-box;
  border-radius: 0.5em; }
  .crd .crd-inner {
    background: white;
    border: 1px solid #f1f1f1;
    border-radius: 0.5em;
    height: 100%;
    overflow: hidden; }
  .crd .crd-image {
    background-color: #f1f1f1;
    height: 160px;
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .crd .crd-header-title {
    border-radius: 0.5em 0.5em 0 0;
    width: auto;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0 20px;
    height: 180px;
    line-height: 180px; }
  .crd .crd-content {
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 15px 10px; }
    .crd .crd-content .title {
      font-size: 14px; }
    .crd .crd-content .subtitle {
      margin-top: 0.5em;
      font-size: 12px;
      color: #646464; }
  .crd .crd-footer {
    padding: 15px;
    text-align: center;
    display: flex; }
    .crd .crd-footer .crd-footer-item {
      font-size: 15px;
      color: #0084ff;
      transition: 0.5s; }
      .crd .crd-footer .crd-footer-item:hover {
        font-weight: bold; }
    .crd .crd-footer.col {
      padding: 0; }
      .crd .crd-footer.col .crd-footer-item {
        padding: 10px 0;
        border-bottom: 1px solid #f1f1f1; }
        .crd .crd-footer.col .crd-footer-item:last-child {
          border-bottom: none; }

.crds {
  position: relative; }
  .crds .crd {
    padding: 8px 0;
    padding-right: 8px; }
  .crds div:first-child {
    width: 100% !important; }
  .crds div[role=listbox] {
    width: 80% !important;
    margin-left: 35pt; }
    .crds div[role=listbox] > div:first-child .crd-inner {
      border-bottom-left-radius: 1.3em;
      border-top-left-radius: 1.3em; }
      .crds div[role=listbox] > div:first-child .crd-inner .crd-image, .crds div[role=listbox] > div:first-child .crd-inner .crd-header-title {
        border-top-left-radius: 1.3em; }
    .crds div[role=listbox] > div:last-child .crd-inner {
      border-bottom-right-radius: 1.3em;
      border-top-right-radius: 1.3em; }
      .crds div[role=listbox] > div:last-child .crd-inner .crd-image, .crds div[role=listbox] > div:last-child .crd-inner .crd-header-title {
        border-top-right-radius: 1.3em; }
  .crds div:last-child button {
    background: rgba(255, 255, 255, 0.9) !important;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    font-size: 25px; }
    .crds div:last-child button:first-child {
      transform: none !important;
      margin-left: 20px; }
    .crds div:last-child button:last-child {
      transform: none !important;
      margin-right: 20px; }

.msg-conversation {
  position: relative; }

.msg-group {
  margin: 5pt 0;
  position: relative; }
  .msg-group .msg-message {
    margin-right: 10pt;
    margin-left: 35pt; }
  .msg-group .msg-avatar {
    left: 5pt;
    bottom: 0;
    position: absolute; }
    .msg-group .msg-avatar-wrapper {
      position: relative; }
      .msg-group .msg-avatar-wrapper:after {
        content: '\A';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%; }
    .msg-group .msg-avatar img {
      display: block;
      border-radius: 50%;
      height: 22.5pt;
      width: 22.5pt; }

.msg-message {
  zoom: 1; }
  .msg-message:last-child .msg-bubble-agent {
    border-bottom-left-radius: 1.1em; }
  .msg-message:first-child .msg-bubble-agent {
    border-top-left-radius: 1.1em; }
  .msg-message:last-child .msg-bubble-user {
    border-bottom-right-radius: 1.1em; }
  .msg-message:first-child .msg-bubble-user {
    border-top-right-radius: 1.1em; }
  .msg-message:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden; }

.msg-bubble {
  max-width: 80%;
  display: block;
  clear: both;
  margin: 1pt 0;
  overflow: hidden;
  padding: 6pt 9pt;
  line-height: 14pt;
  font-size: 11pt;
  border: 1px solid transparent;
  border-radius: 3pt; }
  .msg-bubble-agent {
    color: black;
    background-color: #f1f0f0;
    float: left;
    border-bottom-right-radius: 1.1em;
    border-top-right-radius: 1.1em; }
  .msg-bubble-user {
    color: white;
    background-color: #0084ff;
    float: right;
    border-bottom-left-radius: 1.1em;
    border-top-left-radius: 1.1em; }
    .msg-bubble-user a {
      color: white;
      font-weight: bold;
      text-decoration: underline; }

.msg-emoji {
  background: none !important;
  font-size: 40px; }

.msg-media {
  max-width: 90%; }
  .msg-media.msg-bubble .fas {
    margin-right: 5px; }
  .msg-media.msg-bubble-image {
    background: none !important;
    padding: 0 !important;
    border-radius: 20px !important;
    border: 1px solid #c1c1c1 !important;
    max-width: 90% !important; }
    .msg-media.msg-bubble-image .msg-bubble-user {
      max-width: 80% !important; }

.msg-buttons {
  display: block;
  margin-bottom: 0.3em; }
  .msg-buttons .msg-button {
    cursor: pointer;
    display: block;
    max-width: 80%;
    border: 1px solid #f1f1f1;
    border-bottom: none;
    text-align: center;
    font-size: 15px;
    color: #0084ff;
    transition: 0.5s;
    padding: 12px 8px; }
    .msg-buttons .msg-button:hover {
      font-weight: bold; }
    .msg-buttons .msg-button:first-child {
      border-radius: 3pt 1.1em 0 0; }
    .msg-buttons .msg-button:last-child {
      border-radius: 0 0 1.1em 1.1em;
      border: 1px solid #f1f1f1; }

.chat-input {
  display: flex;
  align-items: center;
  flex: 1 0 auto; }
  .chat-input .chat-input-label {
    flex: 1 0; }
    .chat-input .chat-input-label input {
      width: 100%;
      border: none;
      padding: 15px;
      font-size: 16px;
      outline: none;
      box-sizing: border-box; }
  .chat-input .chat-input-button {
    width: 30px;
    height: 27.5px;
    padding-top: 3px;
    text-align: center;
    background: #0084ff;
    border-radius: 100%;
    color: white;
    margin-right: 15px;
    cursor: pointer; }
  .chat-input-disabled {
    background: #f1f1f1; }
    .chat-input-disabled .chat-input-label input {
      pointer-events: none;
      background: transparent; }
  .chat-input .icon {
    cursor: pointer; }

.input-fullwidth input {
  width: 100%;
  box-sizing: border-box; }

.input input {
  padding: 10px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #f1f0f0;
  transition: 0.3s; }
  .input input:focus {
    border-color: #0084ff; }

.progress {
  position: relative;
  height: 5px;
  width: 100%;
  background-color: rgba(0, 132, 255, 0.3);
  overflow: hidden; }
  .progress .bar {
    box-shadow: 0 0 3px 0 #0084ff; }
    .progress .bar-indeterminate {
      background-color: #0084ff; }
      .progress .bar-indeterminate:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: #0084ff;
        -webkit-animation: pgs-indeterminate 2.5s cubic-bezier(0.5, 0.5, 0.7, 0.8) infinite;
        -moz-animation: pgs-indeterminate 2.5s cubic-bezier(0.5, 0.5, 0.7, 0.8) infinite;
        -ms-animation: pgs-indeterminate 2.5s cubic-bezier(0.5, 0.5, 0.7, 0.8) infinite;
        -o-animation: pgs-indeterminate 2.5s cubic-bezier(0.5, 0.5, 0.7, 0.8) infinite;
        animation: pgs-indeterminate 2.5s cubic-bezier(0.5, 0.5, 0.7, 0.8) infinite; }
  .progress-full {
    background: #0084ff; }

@-webkit-keyframes pgs-indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-moz-keyframes pgs-indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-ms-keyframes pgs-indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@-o-keyframes pgs-indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

@keyframes pgs-indeterminate {
  0% {
    left: -35%;
    right: 100%; }
  60% {
    left: 100%;
    right: -90%; }
  100% {
    left: 100%;
    right: -90%; } }

.widget .widget-button {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #0084ff;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 34px 0 rgba(0, 0, 0, 0.175) !important;
  -webkit-animation: open-widget 0.3s 1 ease;
  -moz-animation: open-widget 0.3s 1 ease;
  -ms-animation: open-widget 0.3s 1 ease;
  -o-animation: open-widget 0.3s 1 ease;
  animation: open-widget 0.3s 1 ease; }
  .widget .widget-button .widget-button-icon {
    width: 30px;
    height: 30px;
    margin-top: 14px; }

.widget .widget-content {
  position: fixed;
  z-index: 100;
  bottom: 100px;
  right: 20px;
  width: 380px;
  border-radius: 0.5em;
  background: white;
  box-shadow: 0 8px 34px 0 rgba(0, 0, 0, 0.175) !important;
  -webkit-animation: open-widget 0.3s 1 ease;
  -moz-animation: open-widget 0.3s 1 ease;
  -ms-animation: open-widget 0.3s 1 ease;
  -o-animation: open-widget 0.3s 1 ease;
  animation: open-widget 0.3s 1 ease; }
  .widget .widget-content.widget-content-conversation {
    height: 65%;
    bottom: 20px;
    right: 20px;
    -webkit-animation: open-widget-conversation 0.4s 1 ease;
    -moz-animation: open-widget-conversation 0.4s 1 ease;
    -ms-animation: open-widget-conversation 0.4s 1 ease;
    -o-animation: open-widget-conversation 0.4s 1 ease;
    animation: open-widget-conversation 0.4s 1 ease; }
  .widget .widget-content.widget-content-hide {
    display: none; }

@media (max-height: 450px) {
  .jai-widget .jai-widget-content.jai-widget-content-conversation {
    height: 70%; } }

@media (max-width: 500px) {
  .widget .widget-content {
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: none;
    height: auto; }
  .widget .widget-content.widget-content-conversation {
    top: 0;
    height: 100%; } }

@-webkit-keyframes open-widget-conversation {
  0% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@-moz-keyframes open-widget-conversation {
  0% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@-ms-keyframes open-widget-conversation {
  0% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@-o-keyframes open-widget-conversation {
  0% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes open-widget-conversation {
  0% {
    transform: translate(0, 20px);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@-webkit-keyframes open-widget {
  0% {
    transform: scale(0.95);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-moz-keyframes open-widget {
  0% {
    transform: scale(0.95);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-ms-keyframes open-widget {
  0% {
    transform: scale(0.95);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@-o-keyframes open-widget {
  0% {
    transform: scale(0.95);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

@keyframes open-widget {
  0% {
    transform: scale(0.95);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

.suggestions {
  position: relative;
  -ms-overflow-style: none; }
  .suggestions .buttons {
    margin: 10px 10px; }
  .suggestions::-webkit-scrollbar {
    display: none; }
  .suggestions .navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0 8px;
    background: rgba(255, 255, 255, 0.8);
    color: #646464;
    cursor: pointer; }
    .suggestions .navigation .icon {
      padding: 0 !important;
      margin: 0 !important;
      margin-top: 5px !important; }
    .suggestions .navigation-left {
      left: 0; }
    .suggestions .navigation-right {
      right: 0; }
    .suggestions .navigation-disabled {
      display: none; }
    .suggestions .navigation:hover {
      color: #464646; }

.conversation {
  position: relative; }

.frame .frame-background {
  border-radius: 3pt;
  content: ' ';
  display: block;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.frame .frame-content {
  background: white;
  position: absolute;
  bottom: 0;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 2;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2); }
  .frame .frame-content .frame-header .frame-close {
    cursor: pointer;
    color: #323232; }
  .frame .frame-content iframe {
    height: 100%;
    width: 100%;
    border: none; }

html, body, .app {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #fafafa;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif; }

.app {
  max-width: 500px;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1); }

.jai-style a {
  text-decoration: none;
  color: black;
  cursor: pointer; }
