@import '/variables';
@import '/mixins';
@import '/functions';

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}

.jai-style {
  @include keyframes(fade-in-popup) {
    0% {
      -webkit-transform: translate(0, 100%);
      opacity: 0;
    }
    90% {
      -webkit-transform: translate(0, 0);
      opacity: 1;
    }
  }

  @include keyframes(fade-in-up) {
    0% {
      -webkit-transform: translate(0, 10px);
      opacity: 0;
    }
    90% {
      -webkit-transform: translate(0, 0);
      opacity: 1;
    }
  }

  @include keyframes(fade-in) {
    0% {
      opacity: 0;
    }
    90% {
      opacity: 1;
    }
  }

  @include keyframes(popup) {
    0% {
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50% {
      transform: translateY(0px);
    }
    75% {
      transform: translateY(15px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .fade-in {
    @include animation('fade-in 0.8s 1');
  }

  .fade-in-up {
    @include animation('fade-in-up 0.7s 1');
  }

  .fade-in-popup {
    @include animation('fade-in-popup 1s 1');
  }

  .popup {
    @include animation('popup ease 1s 1 !important');
  }
}

$amount: 7px;

@keyframes ball-pulse-sync {
  33% {
    transform: translateY($amount);
  }
  66% {
    transform: translateY(-$amount);
  }
  100% {
    transform: translateY(0);
  }
}

@mixin ball-pulse-sync($n: 3, $start: 1) {
  @for $i from $start through $n {
    > div:nth-child(#{$i}) {
      animation: ball-pulse-sync 0.6s delay(0.07s, $n, $i) infinite ease-in-out;
    }
  }
}

.ball-pulse-sync {
  @include ball-pulse-sync();

  > div {
    @include balls();
    @include global-animation();

    display: inline-block;
  }
}
