@mixin display-flex()
  display: -webkit-box
  display: -webkit-flex
  display: -ms-flexbox
  display: flex

@mixin flex($range)
  flex: $range
  -ms-flex: $range
  -webkit-flex: $range

@mixin flex-direction($direction)
  flex-direction: $direction
  -ms-flex-direction: $direction
  -webkit-flex-direction: $direction

@mixin flex-align($position)
  justify-content: $position
  -ms-justify-content: $position
  -webkit-justify-content: $position

@mixin flex-justify($position)
  align-items: $position
  -ms-align-items: $position
  -webkit-align-items: $position

.width-100
  min-width: 100%
  max-width: 100%
  width: 100%

.height-100
  min-height: 100%
  max-height: 100%
  height: 100%

.row
  @include display-flex
  @include flex-direction(row)

.col
  @include display-flex
  @include flex-direction(column)

.flex-1
  @include flex(1)

.flex-center
  @include flex-align(center)
  @include flex-justify(center)

.flex-end
  @include flex-align(flex-end)
