.border-right
  border-right: 1px solid $grey-light

.border-left
  border-left: 1px solid $grey-light

.border-top
  border-top: 1px solid $grey-light

.border-bottom
  border-bottom: 1px solid $grey-light

.title
  font-size: 16px
  font-weight: bold

.subtitle
  font-size: 13px

.content
  padding: 12px 10px

.text-center
  text-align: center

.scrollable
  overflow: auto

  -ms-overflow-style: none

  &::-webkit-scrollbar
    display: none

.img-rounded
  border-radius: 100%

.clearfix
  zoom: 1

.clearfix:after
  clear: both
  content: "."
  display: block
  font-size: 0
  height: 0
  line-height: 0
  visibility: hidden

.disconnected
  background: red
  color: white
  text-align: center
  padding: 10px
  font-size: 12px

  .icon
    height: 15px
    position: relative
    top: 2px

.error
  margin: 10px
  .fas
    color: #e56b65
    font-size: 55px
    margin-bottom: 20px

  .title
    font-size: 20px
    margin-bottom: 5px
    color: rgb(80, 80, 80)

  .subtitle
    font-size: 18px
    color: rgb(120, 120, 120)
    text-align: center
