@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Sans+Pro:400,700')

.app
  margin: 0
  padding: 0
  height: 100%
  background: #ffffff
  font-family: "Source Sans Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important

.widget
  background: #ffffff
  font-family: "Source Sans Pro", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important

.app
  max-width:  500px
  margin: 0 auto
  background: white
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)

img
  -ms-interpolation-mode: nearest-neighbor
