@import "normalize";
@import "animations";
@import "variables";
@import "flex";
@import "modifiers";
@import "custom";
@import "components/components";
@import "app";
@import "mixins";
@import "functions";

.jai-style {
  a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
  }
}
