.btns
  &-slide
    display: flex
    flex-flow: row
    overflow-x: auto
    max-width: 100%

    &::-webkit-scrollbar
      display: none

    .btn
      margin-right: 10px

  &-centred
    align-items: center
    justify-content: center

.btn
  white-space: nowrap
  cursor: pointer
  background: $primary-color
  padding: 15px
  text-align: center
  color: $white
  border-radius: 3px
  font-size: 16px

  &-fullwith
    width: 100%
    box-sizing: border-box

  &-small
    padding: 10px 10px
    font-size: 17px
    height: 14px
    line-height: 14px
    font-family: $primary-font

  &-rounded
    border-radius: 20px

  &-outline
    background: none
    border: 1px solid $primary-color
    color: $primary-color
    transition: 0.2s

    &:hover
      color: $white !important

.link
  color: $primary-color
  cursor: pointer
  transition: 0.8s


.close
  position: absolute
  right: 15px
  top: 7px
  .close-icon
    color: $custom-font-color
    padding: 3px
    width: 20px
    height: 20px
    cursor: pointer

.btn-launch
  display: flex
  justify-content: flex-end
  margin-top: 7px
