.crd
  background: white
  box-sizing: border-box
  border-radius: 0.5em

  .crd-inner
    background: white
    border: 1px solid $grey-light
    border-radius: 0.5em
    height: 100%
    overflow: hidden

  .crd-image
    background-color: $grey-light
    height: 160px
    width: 100%
    border-radius: 0.5em 0.5em 0 0
    background-repeat:no-repeat
    background-position: center center
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover

  .crd-header-title
    border-radius: 0.5em 0.5em 0 0
    width: auto
    color: white
    text-align: center
    font-weight: bold
    padding: 0 20px
    height: 180px
    line-height: 180px

  .crd-content
    text-align: center
    border-bottom: 1px solid $grey-light
    padding: 15px 10px

    .title
      font-size: 14px

    .subtitle
      margin-top: 0.5em
      font-size: 12px
      color: rgb(100, 100, 100)

  .crd-footer
    padding: 15px
    text-align: center
    display: flex
    background: #FFFFFF
    z-index: 0
    .crd-footer-item
      font-size: 15px
      color: $primary-color
      transition: 0.5s
      &:hover
        font-weight: bold
    &.col
      padding: 0
      .crd-footer-item
        padding: 10px 0
        border-bottom: 1px solid $grey-light
        &:last-child
          border-bottom: none

.crds
  position: relative

  .crd
    padding: 8px 0
    padding-right: 8px

  div:first-child
    width: 100% !important

  div[role=listbox]
    width: 80% !important
    margin-left: 35pt

    > div:first-child
      .crd-inner
        border-bottom-left-radius: 1.3em
        border-top-left-radius: 1.3em
        .crd-image, .crd-header-title
          border-top-left-radius: 1.3em
    > div:last-child
      .crd-inner
        border-bottom-right-radius: 1.3em
        border-top-right-radius: 1.3em
        .crd-image, .crd-header-title
          border-top-right-radius: 1.3em

  div:last-child
    button
      background: rgba(255, 255, 255, 0.9) !important
      border-radius: 100%
      width: 40px
      height: 40px
      font-size: 25px
      color: $primary-color

      &:first-child
        transform: none !important
        margin-left: 20px
      &:last-child
        transform: none !important
        margin-right: 20px



