.conversation
  position: relative

.frame
  .frame-background
    border-radius: 3pt
    content: ' '
    display: block
    position: absolute

    background: rgba(0, 0, 0, 0.6)

    top: 0
    bottom: 0
    right: 0
    left: 0

  .frame-content

    background: white

    position: absolute
    bottom: 0
    right: 0
    left: 0
    z-index: 2
    border-radius: 5px 5px 0 0
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2)

    .frame-header
      min-height: 20px

      .frame-close
        cursor: pointer
        color: rgb(50, 50, 50)

    iframe
      height: 100%
      width: 100%
      border: none

.resp-iframe-container
  position: relative
  padding-top: 84vh

  .resp-iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: 0
