.chat-input
  display: flex
  align-items: center
  flex: 1 0 auto
  padding-top: 10px

  .chat-input-label
    flex: 1 0
    display: flex
    justify-content: center

    input
      width: 90%
      height: 36px
      border: none
      padding-left: 15px
      font-size: 16px
      outline: none
      box-sizing: border-box
      background-color: $chat-input-grey
    input::placeholder
      color: #B8C6DB

  .chat-input-button
    width: 36px
    height: 29.5px
    padding-top: 6px
    text-align: center
    background: $primary-color
    border-radius: 100%
    color: $custom-font-color
    margin-right: 15px
    cursor: pointer

  &-disabled
    background: $grey-light
    .chat-input-label input
      pointer-events: none
      background: transparent

  .icon
    cursor: pointer

  .upload-icon
    background-color: $chat-input-grey
    border-radius: 3em

.input
  &-fullwidth
    input
      width: 100%
      box-sizing: border-box

  input
    padding: 10px
    border-radius: 3px
    outline: none
    border: 1px solid $grey
    transition: 0.3s
