.msg-conversation
  position: relative

.msg-group
  margin: 5pt 0
  position: relative
  .msg-message
    margin-right: 10pt
    margin-left: 35pt
  .msg-avatar
    left: 10px
    bottom: 0
    position: absolute
    &-wrapper
      position: relative
      &:after
        content: '\A'
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
    & img
      display: block
      height: 22.5pt
      width: 22.5pt
  .is-rounded
    border-radius: 50%

  .is-hexagon
    height: 30px
    width: 30px

  $widget-button-hexagon-color: #FFFFFF
  .is-hexagon::before
    content: ""
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 0
    border-left: 15px solid $widget-button-hexagon-color
    border-right: 15px solid $widget-button-hexagon-color
    border-bottom: 6px solid transparent

  .is-hexagon::after
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 0
    height: 0
    border-left: 15px solid $widget-button-hexagon-color
    border-right: 15px solid $widget-button-hexagon-color
    border-top: 6px solid transparent

.msg-message
  zoom: 1
  &:last-child .msg-bubble-agent
    border-bottom-left-radius: 1.1em
  &:first-child .msg-bubble-agent
    border-top-left-radius: 1.1em
    border-bottom-left-radius: 0
  &:last-child .msg-bubble-user
    border-bottom-right-radius: 1.1em
  &:first-child .msg-bubble-user
    border-top-right-radius: 1.1em
  &:after
    clear: both
    content: "."
    display: block
    font-size: 0
    height: 0
    line-height: 0
    visibility: hidden

.msg-bubble
  font-family: $primary-font
  max-width: 80%
  display: block
  clear: both
  margin: 1pt 0
  overflow: hidden
  padding: 6pt 9pt
  line-height: 20px
  font-size: 17px
  border: 1px solid transparent
  border-radius: 3pt

  &-agent
    color: #53698B
    background-color: $chat-input-grey
    float: left
    border-bottom-right-radius: 1.1em
    border-top-right-radius: 1.1em

  &-user
    color: $custom-font-color
    background-color: $primary-color
    float: right
    border-bottom-left-radius: 1.1em
    border-top-left-radius: 1.1em

    a
      color: white
      font-weight: bold
      text-decoration: underline

.msg-emoji
  background: none !important
  font-size: 40px

.msg-media
  max-width: 90%
  line-height: 0
  &.msg-bubble
    .fas
      margin-right: 5px

  &.msg-bubble-image
    background: none !important
    padding: 0 !important
    border-radius: 20px !important
    border: 1px solid #c1c1c1 !important
    max-width: 90% !important
    img
      width: 100% !important
    .msg-bubble-user
      max-width: 80% !important

.msg-buttons
  display: block
  margin-bottom: 0.3em
  .msg-button
    cursor: pointer
    display: block
    max-width: 80%
    border: 1px solid $grey-light
    border-bottom: none
    text-align: center
    font-size: 15px
    color: #53698B
    transition: 0.5s
    padding: 12px 8px

    &:hover
      font-weight: bold

    &:first-child
      border-radius: 3pt 1.1em 0 0
    &:last-child
      border-radius: 0 0 1.1em 1.1em
      border: 1px solid $grey-light
