.progress
  position: relative
  height: 5px
  width: 100%
  background-color: rgba(57, 229, 208, 0.3)
  overflow: hidden

  .bar
    box-shadow: 0 0 3px 0 $primary-color

    &-indeterminate
      background-color: $primary-color

      //&:after
        content: ''
        position: absolute
        top: 0
        left: 0
        bottom: 0
        background-color: $primary-color
        @include animation('pgs-indeterminate 2.5s cubic-bezier(0.5, 0.5, 0.7, 0.8) infinite')

  &-full
    background: $primary-color

.progress-bar
  height: 5px
  position: absolute
  top: 0
  left: 0
  bottom: 0
  background-color: $primary-color
  @include animation('pgs-indeterminate 2.5s cubic-bezier(0.5, 0.5, 0.7, 0.8) infinite')

@include keyframes(pgs-indeterminate)
  0%
    left: -35%
    right: 100%
  60%
    left: 100%
    right: -90%
  100%
    left: 100%
    right: -90%
