.suggestions
  position: relative
  -ms-overflow-style: none

  .buttons
    margin: 10px 10px

  &::-webkit-scrollbar
    display: none

  .navigation
    position: absolute
    top: 0
    bottom: 0
    padding: 0 8px
    background: rgba(255, 255, 255, 0.8)
    color: $primary-color
    cursor: pointer

    .icon
      padding: 0 !important
      margin: 0 !important
      margin-top: 5px !important

    &-left
      left: 0

    &-right
      right: 0

    &-disabled
      display: none
