.widget
  .widget-button-circle
    position: fixed
    z-index: 99
    bottom: 20px
    right: 20px
    border-radius: 100%
    width: 60px
    height: 60px
    line-height: 60px
    background: $white
    text-align: center
    cursor: pointer
    box-shadow: 0 8px 34px 0 rgba(0,0,0,.175) !important

    @include animation('open-widget 0.3s 1 ease')

    .widget-button-icon-circle
      width: 30px
      height: 30px
      margin-top: 14px

  $widget-button-hexagon-color: #FFFFFF
  .widget-button-hexagon
    position: fixed
    z-index: 11500
    bottom: 40px
    right: 20px
    width: 64px
    height: 34px
    background: $widget-button-hexagon-color
    cursor: pointer
    box-shadow: 4px 4px 35px 0 rgba(0,0,0,0.7) !important

    @include animation('open-widget 0.3s 1 ease')

    .widget-button-icon-hexagon
      width: 64px !important
      height: 70px
      position: relative
      bottom: 18px
      z-index: 1

  .widget-button-hexagon::before
    content: ""
    position: absolute
    top: -17px
    left: 0
    width: 0
    height: 0
    border-left: 32px solid transparent
    border-right: 32px solid transparent
    border-bottom: 17px solid $widget-button-hexagon-color

  .widget-button-hexagon::after
    content: ""
    position: absolute
    bottom: -17px
    left: 0
    width: 0
    height: 0
    border-left: 32px solid transparent
    border-right: 32px solid transparent
    border-top: 17px solid $widget-button-hexagon-color

  .widget-Notification
    position: fixed
    bottom: 73px
    right: 23px
    z-index: 12000
    width: 20px
    height: 20px
    border-radius: 50px
    text-align: center
    line-height: 19px
    font-size: 14px
    background-color: #fd3d3c
    color: white
    @include animation('display-notification 0.3s 1 ease')

  .widget-content
    position: fixed
    z-index: 13000
    bottom: 100px
    right: 20px
    width: 380px
    border-radius: 0.5em
    background: white
    box-shadow: 0 8px 34px 0 rgba(0,0,0,.175) !important
    @include animation('open-widget 0.3s 1 ease')

    &.widget-content-conversation
      height: 60%
      bottom: 20px
      right: 20px
      @include animation('open-widget-conversation 0.4s 1 ease')

    &.widget-content-hide
      display: none

@media (max-height: 450px)
  &.jai-widget
    .jai-widget-content.jai-widget-content-conversation
      height: 70%

@media (max-width: 500px)
  &.widget
    .widget-content
      right: 0
      bottom: 0
      left: 0
      width: 100%
      border-radius: none
      height: auto

    .widget-content.widget-content-conversation
        top: 0
        height: 100%

@include keyframes(open-widget-conversation)
  0%
    transform: translate(0, 20px)
    opacity: 0

  100%
    transform: translate(0)
    opacity: 1

@include keyframes(open-widget)
  0%
    transform: scale(0.95)
    opacity: 0

  100%
    transform: scale(1)
    opacity: 1

@include keyframes(display-notification)
  0%
    transform: scale(0.50)
    opacity: 0

  100%
    transform: scale(1)
    opacity: 1
