body {
  margin: 0;
  padding: 0;
  background: rgb(250, 250, 250);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.sample {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
}

.sample-logo {
  font-size: 40px;
  color: #0084ff;
}

.sample h3.sample-title {
  color: rgb(80, 80, 80);
  font-size: 15px;
  margin-top: 30px;
  margin-bottom: 18px;
}

.sample h1.sample-title {
  color: rgb(80, 80, 80);
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 18px;
  border-top: 1px solid rgb(240, 240, 240);
  padding-top: 20px;
}

h1.sample-title span {
  color: #0084ff;
  font-size: 20px;
}

h3.sample-title span {
  color: #0084ff;
  font-size: 15px;
}


.sample-demo {
  max-width: 400px;
  background: white;
  border: 1px solid rgb(240, 240, 240);
}

.sample-demo-padding {
  max-width: 400px;
  background: white;
  border: 1px solid rgb(240, 240, 240);
  padding: 30px 10px;
}

.sample-demo, .sample-demo-padding {
  transition: 0.3s;
}

.sample-demo:hover, .sample-demo-padding:hover {
  box-shadow: 0 3px 10px 0 rgb(235, 235, 235);
}

.sample-demo-block {
  background: rgb(40, 40, 40);
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
